.button {
    border: none;
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
}
.enable {
    background: white;
    color: black;
}
.disabled {
    background: rgb(130, 130, 130);
    color: rgb(85, 85, 85);
    cursor: default;
}